@font-face {
  font-family: "iconfont"; /* Project id 3272236 */
  src: url('iconfont.woff2?t=1648035217275') format('woff2'),
       url('iconfont.woff?t=1648035217275') format('woff'),
       url('iconfont.ttf?t=1648035217275') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxitianchong:before {
  content: "\e6b5";
}

.icon-gerenzhongxin:before {
  content: "\e606";
}

.icon-24gf-envelopeCheck:before {
  content: "\e960";
}

